In [1]:
import io
import pandas as pd

csv = '''date,count,xyz
2021-04-01, 1, 2
2021-04-02, 2, 3
2021-04-03, 3, 4
2021-04-04, 4, 5
2021-04-05, 5, 6
2021-04-06, 6, 7
2021-04-07, 7, 8
2021-04-08, 8, 9
2021-04-09, 9, 10
2021-04-10, 10, 11

'''

data = pd.read_csv(io.StringIO(csv), parse_dates = ['date', ], low_memory=False)
data

        date  count  xyz
0 2021-04-01      1    2
1 2021-04-02      2    3
2 2021-04-03      3    4
3 2021-04-04      4    5
4 2021-04-05      5    6
5 2021-04-06      6    7
6 2021-04-07      7    8
7 2021-04-08      8    9
8 2021-04-09      9   10
9 2021-04-10     10   11

In [11]:
def calc_df(args):
    return args[1] * args[2]

res = data.apply(calc_df, axis='columns')
res

0      2
1      6
2     12
3     20
4     30
5     42
6     56
7     72
8     90
9    110
dtype: int64