In [1]:
import io
import pandas as pd

csv = '''date,id,area
2021-04-01, 1, area1
2021-04-01, 2, area1
2021-04-01, 3, area2
2021-04-01, 4, area2
2021-04-01, 5, area3
2021-04-02, 6, area1
2021-04-02, 7, area2
2021-04-03, 8, area1
2021-04-04, 9, area1
2021-04-04, 10, area2
2021-04-05, 11, area1
2021-04-05, 12, area3
2021-04-05, 13, area3
2021-04-05, 14, area3
'''

data = pd.read_csv(io.StringIO(csv), parse_dates = ['date', ], low_memory=False)
data

         date  id    area
0  2021-04-01   1   area1
1  2021-04-01   2   area1
2  2021-04-01   3   area2
3  2021-04-01   4   area2
4  2021-04-01   5   area3
5  2021-04-02   6   area1
6  2021-04-02   7   area2
7  2021-04-03   8   area1
8  2021-04-04   9   area1
9  2021-04-04  10   area2
10 2021-04-05  11   area1
11 2021-04-05  12   area3
12 2021-04-05  13   area3
13 2021-04-05  14   area3

In [3]:
# dateとareaでgroupbyし、size()で集計するとdate毎にareaの小計が得られる
# as_indexがFalseなのでdateとareaはindexにならず、新しくindexが振られている
# `as_index=False is effectively “SQL-style” grouped output.`とのこと
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

data.groupby(['date', "area"], as_index=False).size()

        date    area  size
0 2021-04-01   area1     2
1 2021-04-01   area2     2
2 2021-04-01   area3     1
3 2021-04-02   area1     1
4 2021-04-02   area2     1
5 2021-04-03   area1     1
6 2021-04-04   area1     1
7 2021-04-04   area2     1
8 2021-04-05   area1     1
9 2021-04-05   area3     3